
.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
}

h1 {
    text-align: center;
    color: #0056b3;
    margin-bottom: 30px;
    text-shadow: #58a7fc 1px 1px 2px;
}

label {
    display: block;
    font-weight: bold;
    display: inline-block; 
}

input[type="radio"] {
    width: auto;
    margin: 0 8px 0 0; 
    vertical-align: middle; 
}


input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    font-size: larger;
}

.button {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    font-size: 16px;
}

.button:hover {
    background-color: #00a7d9;
}

.fiximg {
    position: fixed;
    height: 250dvh;
    left: -50%;
    top: -75%;
    animation: rotateImage 20s linear infinite;
    z-index: -1;
}

@keyframes rotateImage {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}